# MongoDB connection string (MongoDB Atlas or local)
MONGO_URI=mongodb://sathyanandreddycheguri_db_user:emjZzPyNgTQg5o1i@ac-dtsrhtm-shard-00-00.5np5gkg.mongodb.net:27017,ac-dtsrhtm-shard-00-01.5np5gkg.mongodb.net:27017,ac-dtsrhtm-shard-00-02.5np5gkg.mongodb.net:27017/java_with_shiva?ssl=true&replicaSet=atlas-s81z7h-shard-0&authSource=admin&appName=Cluster0

# JWT secret for signing login tokens (use a long random string)
JWT_SECRET=e25940199f4b15aae75f21a6ac17e1932c5d585cab7275e4b16d25cd001b035f

# Razorpay keys (get from https://dashboard.razorpay.com/app/keys)
RAZORPAY_KEY_ID=rzp_test_TQ0OtA21RxDoGK
RAZORPAY_KEY_SECRET=11ci0s64r8y48ae2GWGVHaPj

CLOUDINARY_CLOUD_NAME=xlrl6gkz
CLOUDINARY_API_KEY=378587517289722
CLOUDINARY_API_SECRET=67U5Tx1SFiY0v_PvBV2ODVCWmVM

# Port
PORT=5000

# Frontend URL (for CORS)
CLIENT_URL=https://java-with-shiva.vercel.app
